body {
      background: url('img/rc.jpg') no-repeat no-repeat;
      background-size: 100%;
      background-attachment: fixed;
    }

a, a:hover, a:active {
    color: #2980b9;
}

#container{
	width: 600px;
    height: 500px;
    background: white;
    opacity: 0.6;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
}
.data{
	display: block;
}
.nome{
	font-size: 25px;
	display: block;
}
#contador{
	font-size: 85px;
	display: inline-block;
}
#dia, #mes, #ano{
	display: inline-block;
}